<div class="row justify-content-center">
  <div class="col-11 col-md-4">

    <h2>管理者用ログイン</h2>

    <%= form_with model: @admin, url: admin_session_path do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :"ログイン情報を記憶する" %>
        </div>
      <% end %>

      <div class="actions mt-2">
        <%= f.submit "ログイン", class: "btn btn-secondary btn-block", style: "height: 50px" %>
      </div>
    <% end %>

    <%= render "admin/shared/links" %>

  </div>
</div>
