<div class="row justify-content-center">
  <div class="col col-md-8">

   <h2 class="text-center mb-3"><%= @user.name %> さんのフォロー一覧</h2>

  <% if @followings.present? %>
    <table class="table border-bottom">
      <% @followings.each do |user| %>
        <tr>
          <td style="width: 100px;">
            <%= render "public/users/user_image", user: user, width: 100, height: 100 %>
          </td>
          <td>
            <h3 class="mt-2">
              <%= link_to user.name, mypage_path(user.id), class: "text-dark" %>
            </h3>
            <% if current_user == @user %>
              <h3>
                <%= link_to "フォローを外す", relationship_path(user.id, delete_sort: 1), method: :delete %>
              </h3>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    
    <%= paginate @followings %>

  <% else %>
    <h3>登録されたユーザーはいません</h3>
  <% end %>

  </div>
</div>