<div class="row justify-content-center">
  <div class="col col-md-8">
 
    <h4>
      <%= link_to @review.user.name, admin_user_path(@review.user_id), class: "text-dark" %> さんの
      <%= @review.get_book_date(@review.book.isbn).title %> レビュー
    </h4>
    
    <%= @review.evolution %>
    <%= @review.evolution_before_type_cast %><br>
    <%= @review.feeling_after_reading %><br>
    
    <%= @review.body %><br>
    
    <%= link_to 'レビュー削除', review_path(@review.id), method: :delete, data: { confirm: 'このレビューを削除しますか?' } %>

  </div>
</div>