<div class="row justify-content-center">

  <div class="col-12 col-md-1">
    <% if @review.user.image.attached? %>
      <%= image_tag @review.user.get_image(100,100), class: "border rounded-circle" %>
    <% else %>
      <div class="border border-dark rounded-circle" style="height: 100px; width: 100px;"></div>
    <% end %>
  </div>

  <div class="col-12 col-md-7 pt-3">
    <h4>
      <%= link_to @review.user.name, admin_user_path(@review.user_id), class: "text-dark" %> さんの
      <%= @review.get_book_date(@review.book.isbn).title %> レビュー
    </h4>
  </div>

  <div class ="col-12 col-md-8 m-3">
    <div class="m-1">
      <p><b>評価　 </b>: <%= @review.evolution %></p>
      <P><b>読後感 </b>: <%= @review.feeling_after_reading %></P>
      <p><%= @review.body %></p>
      <p><%= @review.comments.count %> いいね</p>
      <div class="d-flex justify-content-end">
        <%= link_to "レビューを削除", admin_review_destroy_path(@review.id), method: :delete, class: "btn btn-outline-danger" %>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-8">
    <div class="m-1">
      <p><b>コメント</b></p>
      <% if @review.comments.present? %>
        <table class="table border-bottom">
          <% @review.comments.each do |comment| %>
          <tr>
            <td style="width: 75px;">
              <% if comment.user.image.attached? %>
                <%= image_tag comment.user.get_image(75,75), class: "border rounded-circle" %>
              <% else %>
                <div class="border border-dark rounded-circle" style="height: 75px; width: 75px;"></div>
              <% end %>
            </td>
            <td>
              <p>
                <%= link_to admin_user_path(comment.user_id), class: "text-dark" do %>
                  <%= comment.user.name %>
                <% end %>
              </p>
              <p>
                <%= comment.body %>
                <div class="d-flex justify-content-end">
                  <%= link_to "コメントを削除", admin_comment_destroy_path(comment.id), method: :delete, class: "btn btn-outline-danger" %>
                </div>
              </p>
            </td>
          </tr>
        <% end %>
        </table>
      <% else %>
        <p>コメントはありません</p>
      <% end %>
    </div>
  </div>

</div>