<div class="row">
  <div class="col-md-2"></div>
  <div class="col col-md">
    <h2 class="mb-5">レビュー作成</h2>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-md-6">

    <h3 class="text-center"><%= @book.title %></h3>

    <%= form_with model: @reviews, url: book_reviews_path(params[:isbn]), method: :post do |f| %>
      <table class="table table-borderless">
        <tr>
          <th>
            評価
          </th>
          <td>
            <%= f.select :evolution, [
            ["★☆☆☆☆", "★☆☆☆☆"],
            ["★★☆☆☆", "★★☆☆☆"],
            ["★★★☆☆", "★★★☆☆"],
            ["★★★★☆", "★★★★☆"],
            ["★★★★★", "★★★★★"]
            ], prompt: "☆☆☆☆☆", class: "form-select" %>
          </td>
        </tr>
        <tr>
          <th>
            読後感(任意)
          </th>
          <td>
            <%= f.select :feeling_after_reading, [ ["感動的","感動的"], ["楽しい","楽しい"], ["悲しい", "悲しい"],
            ["ワクワク", "ワクワク"], ["怖い", "怖い"], ["ときめく", "ときめく"],["爽快", "爽快"], ["モヤモヤする", "モヤモヤする"],
            ["笑える", "笑える"], ["実用的", "実用的"] ,["学びがある", "学びがある"], ["心動かす", "心動かす"],
            ["その他", "その他"]], prompt: "読後感を選択する", class: "form-select" %>
          </td>
        </tr>
        <tr>
          <th>
            レビュー
          </th>
      </table>

      <%= f.text_area :body, class: "form-control", style: "height: 150px;" %>
  </div>

  <div class="col-md-12"></div>
  <div class="col col-md-6">
    <%= f.submit '投稿する', class: "btn btn-success btn-block mt-5" %>
    <% end %>
  </div>
</div>
