<div class="row justify-content-center">
  <div class="col col-md-8">
    <h2 class="text-center mb-4">
      <%= link_to @review.user.name, mypage_path(@review.user.id), class: "text-dark" %> さんの
      <%= link_to @review.get_book_date(@review.book.isbn).title, book_path(@review.book.isbn), class: "text-dark" %> レビュー
    </h2>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4"></div>
  <div class="col-12 col-md-2">
    <h2><%= @review.feeling_after_reading %></h2>
  </div>
  <div class="col-12 col-md-2">
    <h1 class="text-warning"><%= @review.evolution %></h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-md-8">

    <div class="mt-2 mb-2 mr-1 ml-1">
      <p class="lh-sm"><%= @review.body %></p>

      <div class="d-flex justify-content-end m-1">
        <% if @review.good_by?(current_user) %>
          <%= link_to good_path(@review), method: :delete do %>
            <h4 class="text-danger"><i class="fa-solid fa-heart"></i></h4>
          <% end %>
        <% else %>
          <%= link_to goods_path(@review), method: :post do %>
            <h4 class="text-danger"><i class="fa-regular fa-heart"></i></h4>
          <% end %>
        <% end %>
        <h4 class="ml-3"><%= @review.goods.count %> いいね</h4>
      </div>

      <div class="d-flex justify-content-end">
        <% if @review.user == current_user %>
          <%= link_to 'レビュー削除', review_path(@review.id), method: :delete, data: { confirm: 'このレビューを削除しますか?' }, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-md-8">

    <div class="m-1">
      <h3 class="mt-4">みんなのコメント</h3>

      <%= form_with model: @comment, url: review_comments_path(@review.id), method: :post do |f| %>
        <div class="input-group pl-1 mb-2">
          <%= f.text_field :body, class: "form-control" %>
          <span class="input-group-btn">
            <%= f.submit 'コメントする', class: "btn btn-outline-success" %>
          </span>
        </div>
      <% end %>

      <table class="table border-bottom mt-3">
        <% @comments.each do |comment| %>
        <tr>
          <td style="width: 75px;">
            <% if comment.user.image.attached? %>
              <%= image_tag comment.user.get_image(75,75), class: "border rounded-circle" %>
            <% else %>
              <div class="border border-dark rounded-circle" style="height: 75px; width: 75px;"></div>
            <% end %>
          </td>
          <td>
            <p><%= link_to comment.user.name, mypage_path(comment.user_id), class: "text-dark" %></p>
            <p><%= comment.body %></p>
            <% if comment.user == current_user %>
              <p class="text-right"><%= link_to 'コメント削除', review_comment_path(comment.id), method: :delete, class: "btn border" %></p>
            <% end %>
        <% end %>
          </td>
        </tr>
      </table>
    </div>

  </div>
</div>
