<div class="row justify-content-center">
  <div class="col-12 col-md-6">
    <table>
      <tr>
        <td>
          <%= render "public/users/user_image", user: @review.user, width: 100, height: 100 %>
        </td>
        <td>
          <h2 class="pl-3">
            <%= link_to @review.user.name_with_status, mypage_path(@review.user.id), class: "text-dark" %> さんの
            <% if @review.book.get_book_date(@review.book.isbn).present? %>
              <%= link_to @review.book.get_book_title(@review.book.isbn), book_path(@review.book.isbn), class: "text-dark" %> レビュー
            <% else %>
              <%= @review.book.get_book_title(@review.book.isbn) %> レビュー
            <% end %>
          </h2>
        </td>
      </tr>
    </table>
      <div class="d-flex justify-content-end mt-2 mb-2 mr-1 ml-1">
        <div id="post_raty"></div>
        <h4 class="ml-3"><%= @review.evolution %></h4>
      </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-md-6">

    <div class="mt-2 mb-2 mr-1 ml-1">
      <p class="lh-sm"><%= @review.body %></p>

      <% if @review.feeling_after_reading.present? %>
        <%= link_to books_path(feeling_after_reading_id: @review.feeling_after_reading_id) do %>
          #<%= @review.feeling_after_reading.name %>
        <% end %>
      <% end %>

      <div class="d-flex justify-content-end m-1">
        <% if @review.good_by?(current_user) %>
          <%= link_to good_path(@review), method: :delete do %>
            <h4 class="text-danger"><i class="fa-solid fa-heart"></i></h4>
          <% end %>
        <% else %>
          <%= link_to goods_path(@review), method: :post do %>
            <h4 class="text-danger"><i class="fa-regular fa-heart"></i></h4>
          <% end %>
        <% end %>
        <h4 class="ml-3"><%= @review.goods.count %> いいね</h4>
      </div>

      <div class="d-flex justify-content-end">
        <% if @review.user == current_user %>
          <%= link_to 'レビュー削除', review_path(@review.id), method: :delete, data: { confirm: 'このレビューを削除しますか?' }, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="row justify-content-center">
  <div class="col col-md-6">

    <div class="m-1">
      <h3 class="mt-4">みんなのコメント</h3>

      <%= form_with model: @comment, url: review_comments_path(@review.id), method: :post do |f| %>
        <div class="input-group pl-1 mb-2">
          <%= f.text_field :body, class: "form-control", placeholder: "コメントを入力" %>
          <span class="input-group-btn">
            <%= f.submit 'コメントする', class: "btn btn-outline-success" %>
          </span>
        </div>
      <% end %>

     <% if @comments.present? %>
       <table class="table border-bottom mt-3">
        <% @comments.each do |comment| %>
        <tr>
          <td style="width: 75px;">
            <%= render "public/users/user_image", user: comment.user, width: 75, height: 75 %>
          </td>
          <td>
            <p><%= link_to comment.user.name_with_status, mypage_path(comment.user_id), class: "text-dark" %></p>
            <p><%= comment.body %></p>
            <% if comment.user == current_user %>
              <p class="text-right"><%= link_to 'コメント削除', review_comment_path(comment.id), method: :delete, class: "btn border" %></p>
            <% end %>
        <% end %>
          </td>
        </tr>
      </table>
        
      <%= paginate @comments %>
      
      <% else %>
        <p class="text-center mt-3">コメントがありません</p>
      <% end %>
    </div>

  </div>
</div>

<script>
    $('#post_raty').empty();
    $('#post_raty').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'review[evolution]',
      readOnly: true,
      score: <%= @review.evolution || 0 %>
    });
</script>
