<div class="row justify-content-center">
  <div class="col col-md-8">

    <h4 class="mb-3">会員詳細</h4>

    <div class="m-2">
      <table class="table">
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td>ユーザーイメージ</td>
          <td>
            <%= render "public/users/user_image", user: @user, width: 150, height: 150 %>
          </td>
        </tr>
        <tr>
          <td = style= "width: 300px;">ユーザーネーム</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>メールアドレス</td></td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td>
            <% if @user.is_active == "有効" %>
              <p class="text-success"><%= @user.is_active %></p>
              <%= link_to "無効にする", admin_user_update_path(@user.id), method: :put, data: { confirm: "[確認]このユーザーを無効にしますか?" }, class: "btn btn-outline-danger" %>
            <% elsif @user.is_active == "無効" %>
              <p class="text-danger"><%= @user.is_active %></p>
              <%= link_to "有効にする", admin_user_update_path(@user.id), method: :put, class: "btn btn-outline-secondary" %>
            <% end %>
          </td>
        </tr>
      </table>

      <h5>投稿数 <%= @user.reviews.count %></h5>
        <%= form_with url: admin_reviews_path, method: :get, local: true do |f| %>
          <%= f.hidden_field :search_reviews_id, value: @user.id %>
          <%= f.submit "レビュー一覧を見る", class: "btn btn-light" %>
        <% end %>
    </div>


  </div>
</div>