<div class="row justify-content-center">
  <div class="col col-md-7 m-1">

    <h2>検索結果</h2>

    <div class="ml-3">
      <% if params[:keyword].present? %>
        <h3>検索ワード : <%= params[:keyword] %></h3>
      <% elsif params[:feeling_after_reading_id].present? %>
        <h3>検索読後感 : <%= @feeling_after_reading.name %></h3>
      <% end %>
    </div>

    <div class="m-3">
      <% if @books.present? %>
        <table class="table border-bottom">
          <% @books.each do |book| %>
            <tr>
              <td>
                <h4 class="pt-3"><%= link_to book.title, book_path(book.isbn), class: "text-dark" %></h4>
                <p><%= book.author %></p>
                <P>レビュー数 <%= Book.get_reviews(book.isbn).count %> 件</P>
              </td>
            </tr>
          <% end %>
        </table>

      <% else %>
        <h3>本が見つかりません</h3>
      <% end %>
    </div>
 
  </div>
</div>