<div class="row justify-content-center">
  <div class="col-11 col-lg-4">

    <h2 class="mt-3"><%= @book.title %></h2>
    <p><%= @book.author %></p>
    <div class="d-flex">
      <div id="post_raty"></div>
      <h4 class="ml-3">
        <% if @reviews.present? %>
          <%= @reviews.average(:evolution).to_f.round(1) %>
        <% else %>
          0
        <% end %>
      </h4>
    </div>

  </div>

  <div class="col-10 col-lg-3">

     <% if user_signed_in? %>
      <%= link_to 'この本のレビューを投稿する', new_book_review_path(@book.isbn),
      class: "btn btn-success btn-block mt-3 d-flex justify-content-center align-items-center", style: "height: 100px;" %>

      <% if @book_id && current_user.added_to_favorites?(@book_id) %>
        <%= form_with url: favorite_book_path(@book_id, delete_sort: 1), method: :delete do |f| %>
            <%= f.submit 'お気に入りの本から解除する', class: "btn btn-light btn-block border border-dark mt-2" %>
        <% end %>
      <% else %>
        <%= form_with url: favorite_books_path, method: :post do |f| %>
            <%= f.hidden_field :isbn, :value => @book.isbn %>
            <%= f.submit 'お気に入りの本に登録する', class: "btn btn-light btn-block border border-dark mt-2" %>
        <% end %>
      <% end %>

      <% if @book_id && current_user.added_to_wish_lists?(@book_id) %>
        <%= form_with url: wish_list_path(@book_id, delete_sort: 1), method: :delete do |f| %>
            <%= f.submit '読みたい本から解除する', class: "btn btn-light btn-block border border-dark mt-2" %>
        <% end %>
      <% else %>
        <%= form_with url: wish_lists_path, method: :post do |f| %>
            <%= f.hidden_field :isbn, :value => @book.isbn %>
            <%= f.submit '読みたい本に登録する', class: "btn btn-light btn-block border border border-dark mt-2" %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>

<div class="row justify-content-center">
  <div class="col-11 col-md-7">

    <h3 class="mt-4">お気に入りの本に登録しているユーザー( <%= @favorite_books.count %> 名 )</h3>
    
    <table class="m-1">
      <tr>
        <% @users_added_to_favorites.each do |users_added_to_favorite| %>
          <td class="pr-3 pl-3">
            <%= render "public/users/user_image", user: users_added_to_favorite, width: 100, height: 100 %>
          </td>
        <% end %>
      </tr>
      <tr>
        <% @users_added_to_favorites.each do |users_added_to_favorite| %>
          <td class ="pr-3 pl-4">
            <%= link_to mypage_path(users_added_to_favorite.id), class: "text-dark" do %>
              <%= users_added_to_favorite.name_with_status.truncate(8) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>
    
    <div class="d-flex justify-content-end pr-2">
      <% if @users_added_to_favorites.count == 5 %>
        <%= link_to "more", users_index_path(favorite_book_id: @book_id), class: "btn border" %>
      <% end %>
    </div>
    
    <h3 class="mt-3">みんなのレビュー ( <%= @reviews.count %> 件)</h3>
    
    <%if @reviews.present? %>

      <table class="table border-bottom m-1">
        <% @reviews_sorted.each do |review| %>
          <tr>
            <td style="width: 75px;">
              <%= render "public/users/user_image", user: review.user, width: 75, height: 75 %>
            </td>
            <td>
              <p>
                <%= link_to mypage_path(review.user_id), class: "text-dark" do %>
                  <%= review.user.name_with_status %>
                <% end %>
              </p>
              <p>
                <%= review.body.truncate(200) %>
              </p>
                <div class="d-flex justify-content-end">
                  <%= link_to "more", review_path(review.id), class: "btn border" %>
                </div>
              </p>
            </td>
          </tr>
        <% end %>
      </table>

      <%= paginate @reviews_sorted %>

    <% else %>
        <h4>まだレビューがありません</h4>
    <% end %>

  </div>
</div>

<script>
    $('#post_raty').empty();
    $('#post_raty').raty({
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      scoreName: 'review[evolution]',
      readOnly: true,
      score:
      <% if @reviews.present? %>
        <%= @reviews.average(:evolution).to_f.round(1) %>
      <% else %>
        0
      <% end %>
    });
</script>
