<div class="row">
  <div class="col-md-2"></div>
  <div class="col col-md-8">

    <h2>会員情報編集</h2>

    <%= form_with model: @user, url: information_edit_path, method: :patch do |f| %>
    <%= render "public/shared/error_messages", resource: @user %>

      <table class="table border-bottom m-1">
        <tr>
          <th>プロフィール画像</th>
          <td>
            <% if @user.image.attached? %>
              <div class ="d-flex align-items-end">
                <%= image_tag @user.get_image(150,150), class: "border rounded-circle" %>
                <p><%= link_to "プロフィール画像を設定しない", image_destroy_path, method: :delete, class: "text-dark" %></p>
              </div>
            <% else %>
              <%= f.file_field :image, accept: "image/*" %>
            <% end %>
          </td>
        </tr>

        <tr>
          <th>ユーザーネーム</th>
          <td><%= f.text_field :name, class: "form-control" %></td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td><%= f.text_field :email, class: "form-control" %></td>
        </tr>
      </table>
      
    </div>

    <div class="col-md-5"></div>
      <div class="col col-md-3">
        <%= f.submit "編集内容を保存する", class: "btn btn-block btn-success mt-3" %>
      </div>
      <div class="col col-md-2">
        <%= link_to "退会する", unsubscribe_path, class: "btn btn-block btn-danger mt-3 mb-3" %>
      </div>

  <% end %>

</div>