<div class="row justify-content-center">
  <div class="col-11 col-md-7">
    <h2 class="text-center mb-5"><%= @user.name %> さんのレビュー</h2>

    <%if @reviews.present? %>

      <% @reviews.each do |review| %>
        <div class="border p-3 mb-3 ">
          <h4><%= review.book.get_book_title(review.book.isbn) %> のレビュー</h4>
          <%= review.body_size(200) %>
          <div class="d-flex justify-content-end">
            <%= link_to 'more', review_path(review.id), class: "btn border" %>
          </div>
        </div>
      <% end %>

    <% else %>
      <div class="m-3 p-5">
        <h4 class="text-center">まだレビューがありません</h4>
      </div>
    <% end %>
    
    <%= paginate @reviews %>
    
  </div>

  <div class="col-11 col-md-3">
    <table class="table table-borderless">
      <tr>
        <td>
          <%= render "public/users/user_image", user: @user, width: 150, height: 150 %>
        </td>
      </tr>
      <tr>
        <td>
          <h3 class="ml-3"><%= @user.name %></h3>
        </td>
      </tr>
      <% if current_user != @user && @user.is_active == "有効" %>
        <tr>
          <td>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー中", relationship_path(@user.id, delete_sort: 0), method: :delete, class: "btn btn-block btn-success" %>
            <% else %>
              <%= link_to "フォローする", relationships_path(@user.id), method: :post, class: "btn btn-block btn-outline-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <table class="table table-borderless border-top border-bottom border-dark ml-1">
      <tr>
        <td class="text-center">
          <%= link_to followings_path(@user.id), class: "text-dark" do %>
            <%= @user.followings.count %>
          <% end %>
        </td>
        <td class="text-center">
          <%= link_to followers_path(@user.id), class: "text-dark" do %>
            <%= @user.followers.count %>
          <% end %>
        </td>
        <td class="text-center"><%= link_to @wish_lists.count, wish_lists_index_path(@user.id), class: "text-dark" %></td>
      </tr>
      <tr>
        <th><p>フォロー</p></th>
        <th><p>フォロワー</p></th>
        <th><p>読みたい</p></th>
      </tr>
    </table>

    <table class="table table-bordered border-dark m-1">
      <tr>
        <th><h4 class="text-center">お気に入りの3冊</h4></th>
      </tr>
        <% if @favorite_books.present? %>
          <% @favorite_books.each do |book| %>
            <tr>
              <td>
                <%= link_to book.get_book_title(book.isbn), book_path(book.isbn), class: "text-dark" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <th class="text-center">お気に入りの本がありません。</th>
          </tr>
        <% end %>
    </table>

    <% if current_user  == @user %>
      <div class="d-flex justify-content-end">
        <%= link_to "会員情報を確認する", information_path, class: "btn btn-info mt-2 mb-3" %>
      </div>
    <% end %>
  </div>
</div>