<div class="row justify-content-center">
  <div class="col-11 col-md-7">
    <h2 class="text-center"><%= @user.name %> さんのレビュー</h2>

    <%if @reviews.present? %>

      <% @reviews.each do |review| %>
        <div class="border p-3 mt-3">
          <h4><%= review.get_book_date(review.book.isbn).title %> のレビュー</h4>

          <% if review.body.length > 200 %>
            <%= review.body.truncate(200) %>
          <% else %>
            <%= review.body %>
          <% end %>

          <div class="d-flex justify-content-end">
            <%= link_to 'more', review_path(review.id), class: "text-dark border pr-4 pl-4" %>
          </div>
        </div>
      <% end %>

    <% else %>
      <div class="m-3 p-5">
        <h4 class="text-center">まだレビューがありません</h4>
      </div>
    <% end %>
  </div>


  <div class=" col-11 col-md-3">
    <div class="d-flex">
      <% if @user.image.attached? %>
        <%= image_tag @user.get_image(150,150), class: "border rounded-circle" %>
      <% else %>
        <div class="border rounded-circle bg-primary" style="height: 150px; width: 150px;"></div>
      <% end %>
  
      <h3><%= @user.name %></h3>
    </div>
    
    <table class="mt-2">
      <tr>
        <td>0</td>
        <td>0</td>
        <td><%= link_to @wish_lists.count, wish_lists_index_path(@user.id) %></td>
      </tr>
      <tr>
        <th><p>フォロー</p></th>
        <th><p>フォロワー</p></th>
        <th><p>読みたい</p></th>
      </tr>
    </table>

    <table>
      <th><h4>お気に入りの3冊</h4></th>

      <% @favorite_books.each do |book| %>
      <tr>
        <td>
          <%= link_to book.get_book_date(book.isbn).title, book_path(book.isbn) %>
        </td>
      </tr>
      <% end %>
    </table>

    <% if current_user  == @user %>
      <p><%= link_to "会員情報を確認する", information_path %></p>
    <% end %>
  </div>
</div>