<div>
  <h2><%= @user.name %> さんのレビュー</h2>

  <%if @reviews.present? %>
    <% @reviews.each do |review| %>
      <h3><%= review.get_book_date(review.book.isbn).title %></h3>
      
      <% if review.body.length > 50 %>
        <%= review.body.truncate(50) %><br>
      <% else %>
        <%= review.body %><br>
      <% end %>
      
      <%= link_to 'more', review_path(review.id) %><br>
    <% end %>
  <% else %>
    <h4>まだレビューがありません</h4>
  <% end %>

</div>


<div>
  <% if @user.image.attached? %>
    <%= image_tag @user.get_image(100,100) %>
  <% else %>
    <p>no image</p>
  <% end %>

  <h3><%= @user.name %></h3>
  <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th><p>フォロー</p></th>
      <th><p>フォロワー</p></th>
      <th><p>読みたい</p></th>
    </tr>
  </table>

  <table>
    <th><h4>お気に入りの本</h4></th>

    <% @favorite_books.each do |book| %>
    <tr>
      <td>
        <%= link_to book.get_book_date(book.isbn).title, book_path(book.isbn) %>
      </td>
    </tr>
    <% end %>
  </table>

  <% if current_user  == @user %>
    <p><%= link_to "会員情報を確認する", information_path %></p>
  <% end %>
</div>