<!DOCTYPE html>
<html>
  <head>
    <title>ReviewSiteForReaders</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9e53aa1d06.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <%= render "layouts/header" %>

    <main class="container-fluid mb-auto">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8">
          <% if notice %>
            <div class="alert alert-success">
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger">
              <%= alert %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>

  </body>
</html>
